
    <p><b><center><h1></h1>RichardAntonioPage.com</center></h1></b></p>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="javascripts/client.js"></script>
</body>
</html>