<footer class="container-fluid bg-dark text-center">
  <div class="container">
    <h3>THE BAND</h3>
    <p>We love music!</p>
    <p>We have created a fictional band website. Lorem ipsum..</p>
  </div>
</footer>
  
</body>
</html>
