<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='@fortawesome/fontawesome-free/css/all.min.css' />
</head>
<body>
  <!-- Main Nav bar  -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="images/logo.JPG" alt="logo"  width="80px" height="50px" style="padding-left: 10px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <% if (title == "Home") { %>
            <a class="nav-link active" href="/">
        <% } else { %>
            <a class="nav-link" href="/">
        <% } %>            
            <i class="fas fa-home"></i> Home </a>
        </a>
      </li>
      <li class="nav-item">
        <% if (title == "Projects") { %>
            <a class="nav-link active" href="/Projects">
        <% } else { %>
            <a class="nav-link" href="Projects">
        <% } %>            
        <i class="fa-solid fa-diagram-project"></i> Projects </a>
        </a>
      </li>
      <li class="nav-item">
        <% if (title == "AboutMe") { %>
            <a class="nav-link active" href="/AboutMe">
        <% } else { %>
            <a class="nav-link" href="AboutMe">
        <% } %>            
        <i class="fa-light fa-user-secret"></i>About Me</a>
        </a>
      </li>
      <li class="nav-item">
        <% if (title == "ContactMe") { %>
            <a class="nav-link active" href="/ContactMe">
        <% } else { %>
            <a class="nav-link" href="ContactMe">
        <% } %>            
        <i class="fa-light fa-address-book"></i> Contact Me </a>
        </a>
      </li>
      <li class="nav-item">
        <% if (title == "Services") { %>
            <a class="nav-link active" href="/Services">
        <% } else { %>
            <a class="nav-link" href="Services">
        <% } %>            
        <i class="fa-light fa-user-secret"></i> Services </a>
        </a>
      </li>
      
    </ul>
  </nav>