<%- include partials/header.ejs %>

<h1><b><center>My Pictures</center></b></h1>
<h2 style="font-size:20px;"><center>Playing Guitar</center></h2>
<center><br><img src="images/pic1.jpg" width="400px" height="400px"></center>
<br>
<center><figcaption>Looking for something</figcaption>
</figure><br></center>
<center><h2 style="font-size:20px;"><center>Profile Picture's</center></h2>
<img src="My pictures/No2.jpg" class="center" width="200px" height="200px">
<img src="My pictures/No3.jpg" class="center" width="200px" height="200px">
<img src="My pictures/No4.jpg" class="center" width="200px" height="200px">
<img src="My pictures/No5.jpg" class="center" width="200px" height="200px">	</center>	
<br>
<center><figcaption>Just want to say "I Love You!"</figcaption>
</figure><br></center>

</br></br>


<% include partials/footer.ejs %>