<%- include partials/header_2.ejs %>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
      <a class="navbar-brand" href="#">EXPRESS P.</a>
      </div>
      <ul class="nav navbar-nav">
      <li class="active"><a href="/">HOME</a></li>
      <li><a href="/Projects">PROJECTS</a></li>
      <li><a href="/AboutMe">ABOUT ME</a></li>
      <li><a href="/Services">SERVICES</a></li>
      <li><a href="/ContactMe">CONTACT ME</a></li>
      </ul>
  </div>
  </nav>

<style>
  .bg-1 { 
    background-color: #000000; 
    color: #ffffff;
    border-collapse: separate;
  }
   .container-fluid {
    padding-top: px;
    padding-bottom: 2px;
  }
  /*header*/
  .navbar-nav  li a:hover {
    color: #bc1a99 !important;
  }
  </style>

<!-- First Container -->
<div class="container-fluid bg-dark text-center" width="2000" height="2000">
  <div class="container-fluid bg-1 text-center" width="300" height="300">
    <h3 class="margin"><h1>Richard Antonio</b></h1>
    <img src="images/profile.jpg" class="img-square margin" style="display:inline" alt="Image" width="300" height="300">
    <h3>Hi, My name is Richard, You can call me Chad. I am currently taking up a degree 
      in a Software Engineering Technician (Fast-track) program in Centennial College. I graduated with a Bachelor
       of Science in Computer Engineering and a Diploma in Information Technology in the Philippines.</h3>
  </div>
</div>

</body>
<%- include partials/footer_2.ejs %>
