<%- include partials/header.ejs %>

<h1><b><center>My Projects</center></b></h1>
<h2 style="font-size:20px;"><center>Express Portfolio</center></h2>
<center><br><img src="images/logo.JPG" width="400px" height="300px"></center>
<br>
<h2 style="font-size:20px;"><center>Website Design</center></h2>
<center><br><img src="images/webdesign.JPG" width="400px" height="300px"></center>
<br>
<center><figcaption>More Projects <b> COMING SOON!</b></figcaption>
</figure><br></center>



<% include partials/footer_2.ejs %>