<%- include partials/header.ejs %>

<h1><b><center>My Services</center></b></h1>
<h2 style="font-size:20px;"><center>COMING SOON</center></h2>
<center><br><img src="images/logo.JPG" width="400px" height="400px"></center>
<br>
<center><figcaption>
WEB DESIGN</figcaption>
</figure><br></center>

</br></br>
<% include partials/footer_2.ejs %>